{% extends 'padre.html' %}

{% block cambiante %}
    
    <h1> Acerca de mi:</h1>

        <h6> Soy docente de nivel primario y, actualmente, tengo un emprendimiento de accesorios de moda junto con mis amigas. De esta manera, se me ocurrió la idea de crear una tienda online. 
            Al iniciar el curso no tenía conocimientos sobre programación, por lo que me resultó un poco complejo. Aún así, fue beneficioso conocer esta área y expandir mis saberes.
        </h6>


        



        {% endblock cambiante %}