<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>New-Twenties</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
        <link href= " {% static 'css/styles.css' %} " rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
       {% include 'navbar.html' %}
        <!-- Page Content-->
        
        
        {% block banner %}
          
        {% endblock banner %}
            
            <!-- Call to Action-->
            
            
            <div class="card text-white bg-secondary my-5 py-4   max-width: 1000px" >
                <div class="card-body">
                   
                        
                        {% block cambiante %}
                            
                        {% endblock cambiante %}
                            
                      
                    
                </div>
            </div>
            
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Seguinos en @Newtwentiess</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>